{% include "base.html" %}
{% block content %}

<section id="maincontent">
    <div class="d-flex flex-column align-items-center">
        {% for a in articles %}
        <a class="btn m-4 rounded-5 py-5 border-white shadow-lg" href=""
            style="width: 75%; color: #39ff14; background-color: #606060;" ht-target="#maincontent" hx-swap="innerHTML"
            hx-get="{% url 'article' a.id %}">
            <img class="img-fluid rounded-3 shadow" src="{{a.image.url}}"
                style="object-fit: cover; object-position: center; " />
            <p class="text-decoration-underline fw-bold fs-3 mt-3">{{a.title}}</p>
            <div class="d-flex flex-column align-items-center mt-4">
                <span class="d-flex flex-row gap-2 fs-5"><i class="bi bi-calendar-plus text-white"></i>
                    <p class="font-monospace" style="color: #FFFF33">{{a.publish_date}}</p>
                </span>
                <span class="d-flex flex-row gap-2 fs-5"><i class="bi bi-pencil-square text-white"></i>
                    <p class="font-monospace" style="color: #FFFF33">{{a.updated}}</p>
                </span>
            </div>
        </a>
        {% endfor %}
    </div>
</section>

{% endblock content %}